<section data-ng-controller="ArticlesController" data-ng-init="loadTagCloudItems()">
<ul class="tag-cloud list-group">
	<li class="tag-cloud-item" data-ng-repeat="(key, value) in tagCloudItems" data-weight="{{value}}">
		<a data-ng-href="#!/articles/" class="chunk list-group-item">
			{{key}}
		</a>
	</li>
</ul>
</section>

<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="chunk list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No chunks yet, <a href="/#!/articles/create">add one</a>?
	</div>
</section>