$mainColor: #43AE8D;

.navbar-fixed-top {
	background: #FFFFFF;
	border: none;
}

.navbar-brand > img {
  height: 40px;
  margin-top: -7px;
 }

 a:hover {
 	color: $mainColor !important;
 	text-shadow: none !important;
 }